services:
    mockboard_dev:
        build:
            context: .
            dockerfile: Dockerfile
        environment:
          # make the dev profile active for testing
          - SPRING_PROFILES_ACTIVE=dev
            # rate limit settings
          - MBD_RATE_LIMIT_ENABLED=true
          - MBD_RATE_LIMIT_MAX_BOARDS_PER_HOUR=3
          - MBD_RATE_LIMIT_MAX_MOCK_EXECUTIONS_PER_MINUTE=30
          - MBD_RATE_LIMIT_MAX_OTHER_REQUESTS_PER_MINUTE=80
          - DB_PATH=jdbc:h2:file:/backend/data/mockboard_dev;MODE=MySQL;AUTO_SERVER=TRUE
        ports:
            - "8888:8000"
        volumes:
          - h2-data:/backend/data
          - mb-logs:/backend/logs
        restart: unless-stopped

volumes:
    h2-data:
    mb-logs:
