spring:
    h2:
        console:
            enabled: true
            path: /h2

management:
    endpoints:
        web:
            exposure:
                include: "*"

logging:
    level:
        dev.mockboard: DEBUG
        org.springframework.web: DEBUG
        org.springframework.jdbc.core.JdbcTemplate: DEBUG
