services:
    mongodb:
        image: mongo:7.0
        container_name: mb-mongodb
        restart: unless-stopped
        ports:
            - "27017:27017"
        environment:
            MONGO_INITDB_ROOT_USERNAME: admin
            MONGO_INITDB_ROOT_PASSWORD: admin123
            MONGO_INITDB_DATABASE: mockboard_db
        volumes:
            - mongodb_data:/data/db
            - mongodb_config:/data/configdb
        networks:
            - mb-network

volumes:
    mongodb_data:
        driver: local
    mongodb_config:
        driver: local